.vs/
Debug/Rebirth.pdb
Debug/libtcod-VS.dll
Debug/SDL.dll
Debug/sfml-audio-2.dll
Debug/sfml-audio-d-2.dll
Debug/sfml-graphics-2.dll
Debug/sfml-system-2.dll
Debug/sfml-window-2.dll
Debug/zlib1.dll
Debug/Rebirth.exe
Debug/Rebirth.ilk
Debug/Rebirth.v12.suo
Debug/log.txt
Debug/lua53.lib
data/save
data/map
data/texture
data/font
Debug/screenshot.png
docs/
Rebirth/
misc/
Rebirth.sdf
Rebirth.sln
Rebirth.v11.suo
Rebirth.v12.suo
Rebirth.VC.db
cmd.lnk
c.bat
UpgradeLog.htm
.vscode/
workspace.code-workspace
Rebirth.opensdf
old/